md-input-container
  label {{ ::vm.sfLabel? vm.sfLabel : 'GENERAL.SCHOOL_YEAR_LABEL' | translate }}
  md-select(ng-change='vm.sfItemChanged({$item: vm.getCurrentItem()})' ng-model='vm.id' aria-label='School Year')
    md-option(
      ng-repeat='year in vm.schoolYears track by year.id | orderBy: "id"'
      value='{{ year.id }}') {{ vm.yearName(year) }}
