p.md-headline {{ 'PERSON.PERSONAL_DATA_LABEL' | translate }}
dl
  dt {{ 'PERSON.BIRTH_COUNTRY_LABEL' | translate }}
  dd {{ vm.actor.person.birthCountry }}
  dt {{ 'PERSON.ADDRESS_LABEL' | translate }}
  dd {{ vm.actor.person.address }}
  dt {{ 'PERSON.NOTES_LABEL' | translate }}
  dd {{ vm.actor.person.notes }}
md-divider
