sf-go-home(sf-title='{{ "BILLING.BILL_LABEL" | translate }}')
md-content.md-padding.page-content
  div(flex layout='row' layout-align='center center')
    sf-actor-label(sf-actor-id='{{ ::billing.actorId }}')
  div(flex='grow' layout='row' layout-align='center center')
    sf-school-years(ng-model='billing.yearId')
    sf-months(ng-model='billing.monthId' sf-exclude-enrollment)
  div(flex='grow' layout='column' layout-gt-lg='row' ng-hide='billing.solvent')
    sf-billpay
  div(flex='grow' layout='column' layout-gt-lg='row' ng-show='billing.solvent')
    div(flex='grow' flex-gt-lg='33' layout='column' flex-order-gt-lg='1')
      sf-billing-total
      md-button.md-primary.md-raised(ng-click='billing.billingRequest()'
        ng-disabled='billing.processingRequest') Generar Facturas
    sf-debt(flex flex-gt-lg='66' flex-order-gt-lg='0')
