// - TODO: i18n
sf-go-home(sf-title='{{ "INVOICE.INVOICES_LABEL" | translate}}')
md-content.md-padding.page-content
  div(cg-busy='{promise:invoiceDashboard.searchPromise,message:"Buscando..."}')
  div(layout='row' layout-sm='column')
    div
      md-datepicker(ng-model='invoiceDashboard.date'
        ng-change='invoiceDashboard.dateChange()' md-autofocus)
      input(type='search' ng-model='invoiceDashboard.number'
        placeholder='Buscar por número')
      md-button.md-fab.md-mini(aria-label='search'
        ng-click='invoiceDashboard.searchInvoiceByNumber()')
        md-icon(md-svg-src='images/svg/magnify.svg')
    span(flex)
    div
      md-button.md-right(ui-sref='coco') Resumen de Facturación
      md-button.md-right(ui-sref='coco') Libro de Venta Diaria
  div(ng-hide='invoiceDashboard.hasInvoices()')
    h2 No se encontraron facturas
  div(ng-show='invoiceDashboard.hasInvoices()')
    md-list
      md-list-item
        p(flex='5' flex-sm='10')
        p(flex='10' flex-sm='20'): strong #
        p(flex='10' flex-sm='20'): strong Status
        p(flex hide-sm): strong Pagador
        p.text-right(flex='20'): strong Monto
        p(flex='10')
      md-list-item(ng-repeat='i in invoiceDashboard.invoices track by $index')
        p(flex='5' flex-sm='10'): sf-print-invoice(invoice='i')
        p(flex='10' flex-sm='20') {{ ::i.invoiceNumber }}
        p(flex='10' flex-sm='20') {{ i.status.name | translate }}
        p(flex hide-sm) {{ ::i.payerName }}
        p.text-right(flex='20') {{ ::i.total | number : 2 }}
        md-button.md-warn(ng-click='::invoiceDashboard.reverseInvoice($index)'
            flex='10'
            aria-label='reverse'
            ng-disabled='invoiceDashboard.isReversed(i)')
          md-icon(md-svg-src='images/svg/close-box.svg')
    md-divider
    md-list
      md-list-item
        span(flex): strong Cantidad de facturas: {{ invoiceDashboard.totals.ALL || 0}}
        span(flex): strong Por pagar: {{ invoiceDashboard.totals.OPEN || 0}}
        span(flex): strong Pagadas: {{ invoiceDashboard.totals.PAID || 0}}
        span(flex): strong Anuladas: {{ invoiceDashboard.totals.REVERSED || 0 }}
    hr
