span.md-headline {{ ::'BILLING.DEBT_CONCEPTS_LABEL' | translate }}
div(ng-repeat='enrollment in vm.getEnrollments()')
  md-card
    md-card-content
      md-switch(ng-model='enrollment.active' ng-change='vm.switchEnrollment(enrollment.id)')
        span.md-title {{ enrollment.lastName }}, {{ enrollment.firstName }}
      hr
      div(ng-repeat='concept in vm.getConcepts(enrollment.id) | orderBy: "name"')
        md-subheader.md-no-sticky {{ concept.name }}
        div(layout='row')
          md-checkbox(ng-repeat='ctp in vm.filterCTP(enrollment.id, concept.id)'
            ng-model='ctp.active' ng-change='vm.calculateTotal()') {{ vm.monthName(ctp.monthId)}}
