md-autocomplete.searchbox(
    md-delay='500'
    md-search-text='vm.searchText'
    md-selected-item='vm.selectedItem'
    md-item-text='vm.getFullName(item)'
    md-selected-item-change='vm.sfSelectedItemChange({ $item: item })'
    md-items='item in vm.querySearch(vm.searchText)'
    md-min-length='3'
    placeholder='{{ "PERSON.SEARCH_LABEL" | translate }}'
    md-menu-class='autocomplete-custom-template'
    md-autofocus='true')
  md-item-template
    small.item-title
      span: strong {{ item.lastName }}, {{ item.firstName}}
      span.pull-right {{ item.identityCard | number }}&nbsp;&nbsp;
    small.item-metadata
      span {{ item.class | translate }}
      span.pull-right {{ item.email }}
  md-not-found
    span {{ 'PERSON.NOT_FOUND_MSG' | translate }}
