md-card(flex)
  md-card-content.md-padding
    md-tabs(md-dynamic-height md-border-bottom)
      sf-actor-summary-tab(actor='vm.actor')
      md-tab(label='Ficha Médica')
        h1.md-display-4
      md-tab(label='Notas')
        h1.md-display-4
