include ../../../../__JADE/_menu-mixin.jade

div
  div(layout='row')
    p.md-headline {{ 'GUARDIAN.STUDENTS_LABEL' | translate }}
    span(flex)
    +sf-menu
      +sf-menu-item('vm.showSearchBox()', 'account-plus', 'GUARDIAN.STUDENTS.ADD_LABEL')
  md-list(style='margin-top:-30px;')
    md-list-item.md-3-line(ng-repeat='custody in vm.custodies')
      img.md-avatar(ng-src='{{ custody.person | person : "image" }}')
      div.md-list-item-text
        h3: a(ui-sref='actor({id: custody.actorId})') {{ custody.person.lastName }}
        p {{ custody.person.firstName }}
      +sf-menu
        +sf-menu-item('vm.showSearchBox()', 'account-plus', 'GUARDIAN.STUDENTS.ADD_LABEL')
  md-divider
