md-input-container
  label {{ vm.sfLabel? vm.sfLabel : 'GENERAL.MONTH_LABEL' | translate }}
  md-select(ng-change='vm.sfItemChanged({$item: vm.getCurrentItem()})' ng-model='vm.monthId' aria-label='Month')
    md-option(
      ng-repeat='month in vm.months track by vm.getValue(month) | orderBy: "position"' value='{{ vm.getValue(month) }}'
      ) {{ month.name }}
