include ../../../../__JADE/_menu-mixin.jade

div
  div(layout='row')
    p.md-headline {{ 'STUDENT.GUARDIANS_LABEL' | translate }}
    span(flex)
    +sf-menu
      +sf-menu-item('vm.showSearchBox()', 'account-plus', 'STUDENT.GUARDIANS.ADD_LABEL')
  md-list.actor-summary-list
    md-list-item.md-3-line(ng-repeat='custody in vm.custodies | orderBy:"-main"')
      img.md-avatar(ng-src='{{ custody.person | person : "image" }}')
      div.md-list-item-text
        h3: a(ui-sref='actor({id: custody.actorId})') {{ custody.person.lastName }}
        p {{ custody.person.firstName }}
        p
          span ({{ custody.kinship | translate }})
          md-icon.main-icon.md-primary(ng-show='custody.main' md-svg-src='images/svg/star.svg')
      +sf-menu
        +sf-menu-item('vm.showSearchBox()', 'account-plus', 'GUARDIAN.STUDENTS.ADD_LABEL')
  md-divider
