mixin sf-control(ctrl, lbl, model)
  #{ctrl}(
    label="{{ '#{lbl}' | translate }}"
    sf-label="{{ '#{lbl}' | translate }}"
    ng-model=model)&attributes(attributes)

mixin sf-generic-input(ctrl, lbl, model)
  md-input-container(flex)
    label {{ '#{lbl}' | translate }}
    #{ctrl}(type='text' ng-model=model)&attributes(attributes)

mixin sf-input(lbl, model)
  +sf-generic-input('input', lbl, model)

mixin sf-textarea(lbl, model)
  +sf-generic-input('textarea', lbl, model)
