- var title = "{{ 'GENERAL.EDIT_LABEL' | translate }}"
- var big = false
block vars
- var attrs = big? {'flex': true} : {'flex-sm': '100', 'flex-gt-md': '40', 'flex': '60'}

md-dialog(aria-label!=title)&attributes(attrs)
  md-toolbar
    .md-toolbar-tools
      h2 !{title}
      span(flex)
      md-button.md-icon-button(ng-click='vm.cancel()' aria-label='Close Dialog')
        md-icon(md-svg-src='images/svg/close-box.svg')
  md-dialog-content
    .md-dialog-content
      block content
  md-dialog-actions
    md-button(ng-click='vm.cancel()') {{ 'GENERAL.CANCEL_LABEL' | translate }}
    block buttons
      md-button(ng-click='vm.save()') {{ 'GENERAL.SAVE_LABEL' | translate }}
