mixin sf-menu-item(click, img, label)
  md-menu-item
    md-button(ng-click=click)
      md-icon(md-svg-src='images/svg/#{img}.svg')
      span {{ ::'#{label}' | translate }}

mixin sf-menu-item-edit
  +sf-menu-item('vm.showEditDialog()', 'pencil', 'GENERAL.EDIT_LABEL')

mixin sf-menu(buttons)
  md-menu
    md-button.md-icon-button(ng-click='vm.openMenu($mdOpenMenu, $event)'
      aria-label='Open Menu')
      md-icon(md-svg-src='images/svg/dots-vertical.svg')
    md-menu-content
      block
      if buttons
        each btn in buttons
          +sf-menu-item(btn.click, btn.image, btn.label)
