div(layout='column' layout-gt-md='row')
  md-card(ng-repeat='(payer, invoices) in vm.payers' flex-gt-md='45' flex='grow')
    md-card-content
      h3.md-title A nombre de: {{ payer }}
      div(layout='row')
        md-list(layout='column' flex='grow')
          md-subheader.md-no-sticky Facturas
          md-list-item.md-2-line(ng-repeat="invoice in invoices | orderBy:'id'")
            .md-list-item-text
              h3 # {{ invoice.invoiceNumber }}
              h4 Total:
              p {{ invoice.total | number : 2 }}
            sf-print-invoice(invoice='invoice')
        sf-billing-payment(flex='none' invoices='invoices')

