md-card
  div(layout='row')
    md-subheader.md-no-sticky(flex) Pagos
    md-subheader.md-no-sticky.
      Faltan: {{ vm.paymentRest | number : 2 }} de {{ vm.invoicesSum | number : 2 }}
  md-content(flex)
    div(layout='row')
      md-input-container(flex='25')
        label Monto
        input(ng-model='vm.paymentItem.amount' type='number')
      sf-generic-select(sf-type='paymentMethod' sf-cached
        sf-item-changed='vm.paymentMethodSelected($item)'
        flex='30')
      sf-generic-select(sf-type='bank' sf-cached flex='20'
        sf-item-changed='vm.bankSelected($item)')
      md-input-container(flex='25')
        label Referencia
        input(ng-model='vm.paymentItem.reference' type='text')
    div(layout='column')
      md-button(ng-click='vm.addPaymentItem()' ng-disabled='vm.restIsZero') Agregar Pago
      md-list(layout='column')
        md-list-item.text-right(ng-repeat='paymentItem in vm.paymentItems')
          span(flex='20') {{ paymentItem.amount | number : 2 }}
          span(flex='20') {{ paymentItem.paymentMethod.name }}
          span(flex='20') {{ paymentItem.bank.name }}
          span(flex='20') {{ paymentItem.reference }}
          md-button.icon-button.md-accent(flex ng-click='vm.removePaymentItem($index)'
            aria-label='Remove')
            md-icon(md-svg-src='images/svg/close-box.svg')
      md-button.md-primary.md-raised.md-mini(ng-disabled='!vm.restIsZero  || vm.processingRequest'
        ng-click='vm.createPayment(vm.invoices)') Pagar
