include ../../../../__JADE/_menu-mixin.jade

div
  div(layout='row')
    p.md-headline {{ ::'STUDENT.ENROLLMENTS_LABEL' | translate }}
    span(flex)
    +sf-menu
      +sf-menu-item('vm.showEnroll()', 'account-plus', 'GENERAL.EDIT_LABEL')
  div(layout='column' ng-if='!vm.enrollment.id')
    span(flex) {{ ::'STUDENT.CURRENT_ENROLLMENT_EMPTY_MESSAGE' | translate }}
    md-button.md-primary(aria-label='Enroll'
      flex ng-click='vm.showEnroll()') {{ ::'STUDENT.ENROLL_LABEL' | translate }}
  dl(ng-if='vm.enrollment.id')
    dt {{ ::'ENROLLMENT.DATE_LABEL' | translate }}
    dd {{ vm.enrollment.enrollmentDate | date:'dd-MMM-yyyy' }}
    dt {{ ::'ENROLLMENT.MONTH_LABEL' | translate }}
    dd {{ vm.enrollment.enrollmentMonth.name }}
    dt {{ ::'ENROLLMENT.GRADE_LABEL' | translate }}
    dd {{ vm.enrollment.grade.name }}
    dt {{ ::'ENROLLMENT.SECTION_LABEL' | translate }}
    dd {{ vm.enrollment.section.name }}
    div(ng-if='vm.enrollment.originInstitute')
      dt {{ ::'ENROLLMENT.ORIGIN_INSTITUTE_LABEL' | translate }}
      dd {{ vm.enrollment.originInstitute }}
  md-divider
  md-list
    md-list-item.md-2-line(ng-repeat='enrollment in vm.enrollments')
      div.md-list-item-text
        h3 {{ enrollment.gradeName }} - {{ enrollment.sectionName }}
        p {{ ::enrollment.start | date : 'yyyy' }} - {{ ::enrollment.end | date: 'yyyy' }}
  md-divider
