extends ../../../../__JADE/_md-dialog.jade
block content
  sf-months(sf-label='{{ "ENROLLMENT.MONTH_LABEL" | translate }}'
    sf-exclude-enrollment
    sf-item-changed='vm.monthChanged($item)'
    ng-model='vm.enrollmentClone.enrollmentMonth.id')
  sf-generic-select(sf-type='grade'
    ng-model='vm.enrollmentClone.grade.id'
    sf-item-changed='vm.gradeChanged($item)')
  sf-sections(sf-type='section'
    ng-model='vm.enrollmentClone.section.id'
    sf-grade='vm.enrollmentClone.grade'
    sf-item-changed='vm.sectionChanged($item)')
