md-tab(label="{{ 'ACTOR.SUMMARY_LABEL' | translate }}")
  div(layout='column' layout-gt-md='row')
    div.md-padding(layout='column' flex)
      sf-actor-personal(actor='vm.actor')
      sf-actor-work(actor='vm.actor'
        sf-template-dialog='directives/actorCard/actorSummaryTab/actorWork/edit.html'
        ng-if='!vm.isStudent(vm.actor)')
    div.md-padding(layout='column' flex)
      sf-actor-students(sf-actor='vm.actor' ng-if='vm.isGuardian(vm.actor)')
      sf-actor-guardians(sf-actor='vm.actor' ng-if='vm.isStudent(vm.actor)')
    div.md-padding(layout='column' flex)
      sf-actor-enrollments(actor='vm.actor' ng-if='vm.isStudent(vm.actor)')
      sf-actor-references(actor='vm.actor' ng-if='!vm.isStudent(vm.actor)')
        p.md-headline {{ 'ACTOR.REFERENCES_LABEL' | translate }}
      sf-actor-tax(actor='vm.actor' ng-if='vm.isGuardian(vm.actor)'
        sf-template-dialog='directives/actorCard/actorSummaryTab/actorTax/edit.html'
      )
        p.md-headline {{ 'GUARDIAN.BILLING_DATA_LABEL' | translate }}
