include ../../../../__JADE/_menu-mixin.jade

div
  div(layout='row')
    p.md-headline {{ 'GUARDIAN.BILLING_DATA_LABEL' | translate }}
    span(flex)
    +sf-menu
      +sf-menu-item-edit
  dl
    dt {{ 'GUARDIAN.TAX_IDENTITY_LABEL' | translate }}
    dd {{ vm.actor.taxIdentity }}
    dt {{ 'GUARDIAN.TAX_PAYER_NAME_LABEL' | translate }}
    dd {{ vm.actor.payerName }}
    dt {{ 'GUARDIAN.TAX_DOMICILE_LABEL' | translate }}
    dd {{ vm.actor.taxDomicile }}
  md-divider
