extends ../../../../__JADE/_md-dialog.jade
block content
  md-input-container
    label {{ 'GUARDIAN.TAX_IDENTITY_LABEL' | translate }}
    input(type='text' ng-model='vm.actorClone.taxIdentity')
  md-input-container
    label {{ 'GUARDIAN.TAX_PAYER_NAME_LABEL' | translate }}
    textarea(type='text' ng-model='vm.actorClone.payerName')
  md-input-container
    label {{ 'GUARDIAN.TAX_DOMICILE_LABEL' | translate }}
    textarea(type='text' ng-model='vm.actorClone.taxDomicile')
