md-toolbar.md-padding(layout='row' layout-align='center center')
  md-button.md-icon-button(ui-sref='main' aria-label='Home')
    md-icon(md-svg-src='images/svg/home.svg')
  span Sofía
  span(flex).md-display-1.text-right {{ vm.sfTitle }}
  span(offset='5')
