body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

dl {
  margin-top: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 10px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-content {
  max-height: ~"calc(100vh - 75px)";
}

.page-content-toolbar {
  max-height: ~"calc(100vh - 150px)";
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: text-justify;
}

.text-nowrap {
  white-space: nowrap;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
//
// injector
// endinjector
