sf-go-home(sf-title='{{ "REPORT.REPORTS_LABEL" | translate}}')
md-content.md-padding.page-content
  md-list
    md-list-item
      p(flex='5' flex-sm='10')
      p(flex='35' flex-sm='20'): strong Reporte
      p(flex hide-sm): strong Descripción
    md-list-item(ng-repeat='r in reportList.reports track by $index')
      p(flex='5' flex-sm='10'): sf-print-report(sf-report='r')
      p(flex='35' flex-sm='20') {{ ::r.name | translate }}
      p(flex hide-sm) {{ ::r.description | translate }}
