md-card(layout='column')
  md-card-content.md-padding
    div(layout='row')
      md-card(flex='33' layout-align='center center')
        img(ng-src='{{ vm.sfPerson | person : "image" }}')
      md-list(flex)
        sf-icon-list-item(ng-if='vm.sfPerson'
          sf-item-text='{{ vm.sfPerson | person : "gender" }}'
          sf-icon-name='{{ vm.sfPerson | person : "genderIconName" }}')
        md-list-item.md-2-line
          md-icon(md-svg-src='images/svg/cake.svg')
          .md-list-item-item-text(flex)
             p {{ vm.sfPerson.birthDate | date : 'shortDate' }}
             p ({{ vm.sfPerson | person : 'age' }})
    hr
    div(layout='column')
      div(layout='column' layout-align='center center')
        .md-title {{ vm.sfPerson.lastName }}
        .md-subhead {{ vm.sfPerson.firstName }}
      md-list(flex)
        sf-icon-list-item(sf-item-text='{{ vm.sfPerson | person : "identityCard" }}'
          sf-icon-name='credit-card')
        sf-icon-list-item(ng-if='vm.sfPerson.phoneNumber'
          sf-item-text='{{ vm.sfPerson.phoneNumber }}'
          sf-icon-name='phone')
        sf-icon-list-item(ng-if='vm.sfPerson.email'
          sf-item-text='{{ vm.sfPerson.email }}'
          sf-icon-name='email')
        sf-icon-list-item(ng-if='vm.sfPerson.facebook'
          sf-item-text='{{ vm.sfPerson.facebook }}'
          sf-icon-name='facebook')
        sf-icon-list-item(ng-if='vm.sfPerson.twitter'
          sf-item-text='{{ vm.sfPerson.twitter }}'
          sf-icon-name='twitter')
