extends ../../../__JADE/_md-dialog.jade
block vars
  - var title = "{{ 'REPORT.PRINT_LABEL' | translate }}"
block content
  div(layout='row' flex)
    sf-school-years(flex ng-model='vm.builder.schoolYearId')
    sf-months(flex ng-model='vm.builder.monthPosition' sf-value-from-position)
  div(layout='row' flex)
    sf-generic-select(flex sf-type='concept' ng-model='vm.builder.conceptId')
    md-input-container(flex)
      label Tipo de Reporte
      md-select(ng-model='vm.builder.isDebt')
        md-option(value='0') Solventes
        md-option(value='1') Deudores
block buttons
  md-button(ng-click='vm.cancel()'
  ng-href='{{ vm.getReportLink() }}'
  download) {{ 'REPORT.PRINT_LABEL' | translate }}
