md-input-container
  label {{ ::vm.label }}
  md-select(ng-model='vm.id'
    ng-change='vm.sfItemChanged({$item: vm.getSelectedItem()})'
    aria-label='{{ ::vm.label }}')
    md-option(
      ng-repeat='item in vm.items | filter: {grade: vm.sfGrade}'
      value='{{ ::item.id }}') {{ ::item.name }}
