include ../../../../__JADE/_menu-mixin.jade

div
  div(layout='row')
    p.md-headline {{ 'PERSON.WORK_DATA_LABEL' | translate }}
    span(flex)
    +sf-menu
      +sf-menu-item-edit
  dl
    dt {{ 'PERSON.OCCUPATION_LABEL' | translate }}
    dd {{ vm.actor.occupation }}
    dt {{ 'PERSON.WORKPLACE_LABEL' | translate }}
    dd {{ vm.actor.workplace }}
    dt {{ 'PERSON.POSITION_LABEL' | translate }}
    dd {{ vm.actor.position }}
  md-divider
