extends ../../../../__JADE/_md-dialog.jade
block content
  md-input-container
    label {{ 'PERSON.OCCUPATION_LABEL' | translate }}
    input(type='text' ng-model='vm.actorClone.occupation')
  md-input-container
    label {{ 'PERSON.WORKPLACE_LABEL' | translate }}
    input(type='text' ng-model='vm.actorClone.workplace')
  md-input-container
    label {{ 'PERSON.POSITION_LABEL' | translate }}
    input(type='text' ng-model='vm.actorClone.position')
