div(layout='row')
  md-button.md-fab.md-mini.md-fab-top-left(ui-sref='actor({id: vm.actor.id})' aria-label='Actor')
    md-icon(md-svg-src='images/svg/arrow-left.svg')
  div(layout='column' layout-align='center center')
    .md-headline {{ vm.actor.person | person : 'fullName' }}
    .md-subhead {{ vm.actor.person | person : 'identityCard' }}
