div(layout='row')
  label.sf-checklist-label(flex) {{ vm.sfLabel | translate }}
  md-buton.md-icon-button(ng-click='vm.uncheckAll()' aria=label='Uncheck all')
    md-icon(md-svg-icon='images/svg/checkbox-multiple-blank-outline.svg')
  md-buton.md-icon-button(ng-click='vm.checkAll()' aria=label='Check all')
    md-icon(md-svg-icon='images/svg/checkbox-multiple-marked-outline.svg')
md-content.sf-checklist-content(layout='column')
  md-checkbox(
    ng-repeat='item in vm.items track by $index'
    ng-model='item.checked') {{ vm.sfGetItemText({$item: item}) }}