extends ../../__JADE/_md-dialog.jade
include ../../__JADE/_container-mixin.jade

block vars
  - big = true
  - title = "{{ vm.section.id? 'GENERAL.EDIT_LABEL' : 'GENERAL.CREATE_LABEL' | translate }} {{ GENERAL.SECTION_LABEL | translate }}"
block content
  div(layout='row')
    sf-generic-select(flex='50' sf-type='grade' ng-model='vm.gradeId'
      ng-disabled='vm.section.id')
    +sf-input('SECTION.NAME_LABEL', 'vm.section.name')(flex='50')
  div(layout='row')
    sf-checklist(flex='45' 
      ng-model='vm.enrollmentsWithoutSection' sf-label='SECTION.WITHOUT_SECTION_LABEL'
      sf-get-item-text='vm.getItemText($item)')
    div(flex='10' layout='column' layout-align='center center')
      md-button.md-fab.md-mini(ng-click='vm.addToSection()'
        aria-label='Add to section')
        md-icon(md-svg-src='images/svg/arrow-right.svg')
      md-button.md-fab.md-mini(ng-click='vm.removeFromSection()'
        aria-label='Remove from section')
        md-icon(md-svg-src='images/svg/arrow-left.svg')
    sf-checklist(flex='45' ng-model='vm.section.enrollments'
      sf-label='SECTION.THIS_SECTION_LABEL'
      sf-get-item-text='vm.getItemText($item)')
