sf-go-home(sf-title='{{ "SECTION.SECTIONS_LABEL" | translate}}')
md-button.md-fab.md-fab-bottom-right(aria-label='Add')
  md-icon(ng-click='sectionList.createSection()' md-svg-src='images/svg/plus.svg')
md-content.md-padding.page-content
  sf-school-years(ng-model='sectionList.schoolYearId')
  div(layout='row' flex)
    md-list(flex ng-repeat='sections in sectionList.sectionGroups')
      md-list-item
        p(flex='25'): strong {{ ::'GENERAL.GRADE_LABEL' | translate }}
        p(flex='25' hide-sm): strong {{ ::'GENERAL.SECTION_LABEL' | translate }}
        p(flex='25' hide-sm): strong {{ ::'SECTION.TOTAL_ENROLLMENTS_LABEL' | translate }}
      md-list-item(ng-repeat='s in sections track by $index')
        p(flex='30') {{ ::s.grade.name }}
        p(flex='25' hide-sm) {{ s.name }}
        p(flex='10' hide-sm) {{ s.total }}
        span(flex)
          md-button.md-icon-button(ng-click='::sectionList.editSection(s)'
              aria-label='edit')
            md-icon(md-svg-src='images/svg/pencil.svg')
          md-button.md-icon-button.md-warn(ng-click='::sectionList.deleteSection(s)'
              aria-label='reverse' ng-disabled='s.total > 0')
            md-icon(md-svg-src='images/svg/close-box.svg')