extends ../../__JADE/_md-dialog.jade
block vars
  - var title = "Agregar"
block content
  sf-searchbox(
    flex
    sf-selected-item-change='vm.actorSelected($item)'
    sf-search-type='ALL'
    sf-actor-type='{{ vm.childrenClass }}')
  sf-generic-select(ng-model='vm.kinship' sf-cached
      sf-type='kinship' ng-if='vm.selectedItem')
block buttons
  md-button(ng-if='vm.selectedItem' ng-click='vm.create()') {{ 'GENERAL.CREATE_LABEL' | translate }}
