extends ../../__JADE/_md-dialog.jade
block vars
  - title = "{{ 'GENERAL.CREATE_LABEL' | translate }} {{ vm.actor.class | translate }}"
block content
  div(flex layout='row')
    md-input-container(flex)
      label {{ 'PERSON.SEARCH_BY_IDENTITY_CARD_LABEL' | translate }}
      input(type='text' ng-model='vm.criteria' md-autofocus)
    md-button(ng-click='vm.search()') {{ 'GENERAL.SEARCH_LABEL' | translate }}
  div(ng-if='vm.showPerson' person='vm.person' flex)
    span.md-subhead {{ vm.person.fullName }}
  div(ng-if='vm.canCreate' layout='column')
    div No existe una persona con esa cédula.
    div Asegurese de que el número es correcto.
    div Pulse el botón CREAR PERSONA.
block buttons
  md-button(ng-if='vm.showPerson'
    ng-click='vm.save()') {{ 'GENERAL.CREATE_LABEL' | translate }} {{ vm.actor.class | translate }}
  md-button(ng-if='vm.canCreate'
    ng-click='vm.createPerson()') Crear Persona
