extends ../../__JADE/_md-dialog.jade
include ../../__JADE/_container-mixin.jade
block vars
  - var big = true
block content
  div(layout='column' layout-gt-sm='row')
    +sf-input('PERSON.IDENTITY_CARD_LABEL', 'vm.person.identityCard')(md-autofocus=true)
    +sf-input('PERSON.FIRST_NAME_LABEL', 'vm.person.firstName')
    +sf-input('PERSON.LAST_NAME_LABEL', 'vm.person.lastName')
  div(layout='column' layout-gt-sm='row')
    md-datepicker(ng-model='vm.person.birthDate' flex)
    +sf-control('sf-countries', 'PERSON.BIRTH_COUNTRY_LABEL', 'vm.person.birthCountry')(flex=true)
    +sf-control('sf-generic-select', 'PERSON.GENDER_LABEL', 'vm.person.gender')(sf-type='gender' flex=true)
  div(layout='column' layout-gt-sm='row')
    +sf-input('PERSON.PHONE_NUMBER_LABEL', 'vm.person.phoneNumber')
    +sf-input('PERSON.EMAIL_LABEL', 'vm.person.email')
    +sf-input('PERSON.FACEBOOK_LABEL', 'vm.person.facebook')
    +sf-input('PERSON.TWITTER_LABEL', 'vm.person.twitter')
  div(layout='column' layout-gt-sm='row')
    +sf-textarea('PERSON.ADDRESS_LABEL', 'vm.person.address')
    +sf-textarea('PERSON.NOTES_LABEL', 'vm.person.notes')
