sf-go-home(sf-title='{{ actorShow.actor.class | translate}}')
sf-actor-toolbar(sf-actor='actorShow.actor')
md-content.md-padding.page-content-toolbar
  div(layout='column' layout-gt-md='row')
    sf-person-card(sf-person='actorShow.actor.person' flex='grow' flex-gt-md='25')
    sf-actor-card(actor='actorShow.actor' flex='grow')
