md-toolbar.md-accent
  .md-toolbar-tools
    md-button(ng-disabled='!vm.sfActor.id' ng-click='vm.showEdit($event)'
      ) {{ 'GENERAL.EDIT_LABEL' | translate }}
    sf-billing-button(sf-actor='vm.sfActor')
