md-input-container
  label {{ ::vm.sfLabel || 'GENERAL.COUNTRY_LABEL' | translate }}
  md-select(ng-model='vm.id' aria-label='Country')
    md-option(
      ng-repeat="country in vm.countries track by country.id"
      value='{{ ::country.id }}') {{ ::country.name }}
