md-toolbar
  .md-toolbar-tools
    h1.md-display-1 Sofía
    span(flex-sm='20' flex-gt-md='55' flex='40')
    sf-searchbox(
      sf-selected-item-change='vm.actorSelected($item)'
      sf-search-type='ALL'
      flex-sm='80' flex-gt-md='40' flex='60')
.dashboard-background(layout='column' layout-padding layout-align='center')
  md-content.dashboard-content
    md-grid-list.gray-tile(
      md-cols='2' md-cols-gt-md='6'
      md-row-height='2:3' md-row-height-md='9:5' md-row-height-gt-md='5:6' md-row-height-gt-lg='11:10'
      md-gutter='4px' md-gutter-md='8px' md-gutter-gt-md='12px'
      )
      md-grid-tile.blue-tile(
        md-colspan='1' md-colspan-gt-md='2'
        md-rowspan-gt-md='2'
        ng-click='vm.createActor("sofia.Student")'
      )
        md-icon(md-svg-src='images/svg/human-child.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 {{ 'GENERAL.CREATE_LABEL' | translate }} {{ 'sofia.Student' | translate }}

      md-grid-tile.red-tile(
        md-collspan-sm='1'
      )
        md-icon(md-svg-src='images/svg/checkbox-multiple-marked-outline.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Evaluations

      md-grid-tile.yellow-tile(
        md-collspan-sm='1'
        ui-sref='section'
      )
        md-icon(md-svg-src='images/svg/human-child.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Secciones

      md-grid-tile.green-tile(
        md-colspan='1' md-colspan-gt-md='2'
        md-rowspan-gt-md='2'
        ui-sref='invoice'
      )
        md-icon(md-svg-src='images/svg/file-document.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Facturas

      md-grid-tile.pink-tile(
        md-colspan='1' md-colspan-gt-md='2'
        md-rowspan-gt-md='2'
        ui-sref='report'
      )
        md-icon(md-svg-src='images/svg/printer.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Reportes

      md-grid-tile.orange-tile(
        md-collspan-sm='1'
        ng-click='vm.createActor("sofia.Guardian")'
      )
        md-icon(md-svg-src='images/svg/human-male-female.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 {{ 'GENERAL.CREATE_LABEL' | translate }} {{ 'sofia.Guardian' | translate }}

      md-grid-tile.brown-tile(
        md-collspan-sm='1'
        ng-click='vm.createActor("sofia.Teacher")'
      )
        md-icon(md-svg-src='images/svg/school.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 {{ 'GENERAL.CREATE_LABEL' | translate }} {{ 'sofia.Teacher' | translate }}

      md-grid-tile.deep-purple-tile(
        md-collspan-sm='1'
      )
        md-icon(md-svg-src='images/svg/email-outline.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Messages
      md-grid-tile.blue-gray-tile(
        md-collspan-sm='1'
      )
        md-icon(md-svg-src='images/svg/school.svg' style='height: 50%;width:50%;')
        md-grid-tile-footer: h3 Options
