@gray: #424242;

.dashboard-background {
  min-height: ~"calc(100vh - 64px)";
  background-color: @gray;
}

.dashboard-content {
  max-height: ~"calc(100vh - 68px)";
  background-color: @gray;
}

.gray-tile {
  background-color: @gray;
}

.red-tile {
  background-color: #ff8a80;
}

.pink-tile {
  background-color: #ff80ab;
}

.purple-tile {
  background-color: #ea80fc;
}

.deep-purple-tile {
  background-color: #b388ff;
}

.indigo-tile {
  background-color: #8c9eff;
}

.blue-tile {
  background-color: #82b1ff;
}

.light-blue-tile {
  background-color: #80d8ff;
}

.cyan-tile {
  background-color: #84ffff;
}

.teal-tile {
  background-color: #a7ffeb;
}

.green-tile {
  background-color: #b9f6ca;
}

.yellow-tile {
  background-color: #ffff8d;
}

.orange-tile {
  background-color: #ffd180;
}

.brown-tile {
  background-color: #d7ccc8;
}

.blue-gray-tile {
  background-color: #cfd8dc
}
