.text-center.md-headline Total a Cancelar
md-card
  .text-center(layout='row')
    .text-right(flex='70' layout='column')
      span Subtotal:
      span Descuento:
      strong Total:
    .text-right(flex offset='10' layout='column')
      span {{ vm.subtotal | number : 2 }}
      span {{ vm.discount | number : 2 }}
      strong {{ vm.total | number : 2 }}
